<div>
    <%if(locals.user){%>
       
    <div id="bar">
        <div id="bar-heading">
            <p id="bar-heading-name">Incident Tracker</p>
        </div>
        <div id="sign-out">
            <a href="/users/sign-out">
                <button class = "route-button sign-out-button">sign-out</button>
            </a>
        </div>
    </div>
    <div id = "main-div">
        <div id = "left-div">
            <div id="create-incident">
                <button class = "route-button">
                    Create Incident
                </button>
            </div>
            <div id ="show-all-incident">
                <button class = "route-button">
                    All Incidents
                </button>
            </div>
            <div id="search-incident">
                <button class = "route-button">
                    Search Incident
                </button>
            </div>
            <div id="incident-status">
                <button class = "route-button">
                    Incident Status
                </button>
            </div>
            <div id="teams">
                <button class = "route-button">
                    All Teams
                </button>
            </div>
        </div>
        
    </div>  
    <%}%>
</div>