<!DOCTYPE html>
<html lang="en">
<head>
    <title>Create Incident</title>
</head>
<body>
    <form action="url" method = "POST">
         <div class="form-group">
            <label for="incident-state">Incident state:</label>
            <select id="incident-state" name="incident-state">
              <option value="open">Open</option>
              <option value="On-hold">On Hold</option>
              <option value="closed">Closed</option>
            </select>
          </div>

          <div class="form-group">
            <label for="employee-id">Employee id/Owner:</label>
            <input type="number" id="employee-id" name="employee-id">
          </div>

          <div class="form-group">
            <label for="issue-type">Issue related to:</label>
            <select id="issue-type" name="issue-type">
              <option value="platefomr">Plateform</option>
              <option value="service">Service</option>
              <option value="teaching">Teaching</option>
              <option value="teaching-assistance">TA</option>
            </select>
          </div>

          <div class="form-group">
            <label for="priority">Priority:</label>
            <select id="priority" name="priority">
              <option value="high">High</option>
              <option value="medium">Medium</option>
              <option value="low">Low</option>
            </select>
          </div>

          <div class="form-group">
            <label for="impacted-count">Impacted count:</label>
            <input type="number" id="impacted-count" name="impacted-count">
          </div>

          <div class="form-group">
            <label for="affected-module">Affected Module:</label>
            <textarea id="affected-module" name="affected-module"></textarea>
          </div>

          <div class="form-group">
            <label for="occurrence-date">Date/ time of occurrence:</label>
            <input type="date" id="occurrence-date" name="occurrence-date">
          </div>

          <div class="form-group">
            <label for="solution-group">Solution Group:</label>
            <select id="solution-group" name="solution-group">
                <option value="plateform-team">Plateform Team</option>
                <option value="service-team">Service Team</option>
                <option value="teaching-team">Teaching Team</option>
            </select>
          </div>

          <div class="form-group">
            <label for="follow-up-by">Follow up by:</label>
            <input type="text" id="follow-up-by" name="follow-up-by">
          </div>

          <div class="form-group">
            <label for="additional-comment">Additional Comment:</label>
            <textarea id="additional-comment" name="additional-comment"></textarea>
          </div>

          <div class="form-group">
            <label for="attachment">Attachment:</label>
            <input type="file" id="attachment" name="attachment" accept="image/*">
          </div>

          <div class="form-group">
            <button type="button" id="check-details">Check Details</button>
          </div>

          <div class="form-group">
            <button type="submit" id="create-incident">Create Incident</button>
          </div>

    </form>
</body>
</html>

