<!DOCTYPE html>
<html lang="en">
<head>
    <title>Create Incident</title>
    <link rel="stylesheet" href="/css/incident_details.css">
</head>
<body>


  <table>
    
    <tr>
      <th colspan="2" class = "table-heading">Incident Details</th>
    </tr>
  
    <tr>
      <td class="left-column">Incident Id</td>
      <td id="incident-state-data"></td>
    </tr>

    <tr>
      <td class="left-column">Incident state</td>
      <td id="incident-state-data"></td>
    </tr>

    <tr>
      <td class="left-column">Date/ time of occurrence</td>
      <td id="occurrence-date-data"></td>
    </tr>

    <tr>
      <td class="left-column">Appointment Time</td>
      <td id="appointment-time-data"></td>
    </tr>

    <tr>
      <td class="left-column">Priority</td>
      <td id="priority-data"></td>
    </tr>

    <tr>
      <td class="left-column">Issue related to</td>
      <td id="issue-related-data"></td>
    </tr>

    <tr>
      <td class="left-column">Affected Module</td>
      <td id="affected-module-data"></td>
    </tr>

    <tr>
      <td class="left-column">Impacted count</td>
      <td id="impacted-count-data"></td>
    </tr>

    <tr>
      <td class="left-column">Solution Group</td>
      <td id="solution-group-data"></td>
    </tr>

    <tr>
      <td class="left-column">Employee id/Owner</td>
      <td id="empid-data"></td>
    </tr>

    <tr>
      <td class="left-column">Follow up by</td>
      <td id="follow-up-name-data"></td>
    </tr>

    <tr>
      <td class="left-column">Additional Comment</td>
      <td id="additional-comment-data"></td>
    </tr>

  </table>
  

</body>
</html>
