<html>
    <head>
        <title>
            Sign-in
        </title>
        <link rel="stylesheet" type="text/css" href="/css/signUp.css"> 
    </head>
    <body>

    <div class="container">
        <form action = "/users/createUser" method="POST">
          <h2>Sign Up</h2>
          <div class="form-group">
            <label for="name" class ="label-spacing">Name:</label>
            <input type="text" id="name" name="name" required>
          </div>
          <div class="form-group">
            <label for="email" class ="label-spacing">Email:</label>
            <input type="email" id="email" name="email" required>
          </div>
          <div class="form-group">
            <label for="password" class ="label-spacing">Password:</label>
            <input type="password" id="password" name="password" required>
          </div>
          <div class="form-group">
            <label for="password-confirm" class ="label-spacing">Confirm Password:</label>
            <input type="password" id="password-confirm" name="confirm_password" required>
          </div>
          <div class="form-button">
            <button class="btn-submit">Sign Up</button>
          </div>
        </form>
      </div>      
  </body>
 </html>