.search-result-bar {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 5%;
    
  }
 .span-align{
  min-width: 140px;
  margin-top: 8px;
 }
  .search-result-bar-content {
    display: flex;
    align-items: left;
  }
  
  .incident-number {
    font-weight: bold;
    margin-right : 40px;
  }
  .incident-state{
    margin-right: 40px;
    margin-left : 40px;
  }
  
  .issue {
    margin-right: 40px;
    margin-left : 40px;
  }
  
  .open-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-left : 40px;
  }
