.heading-bar {
  display: flex;
  align-items: center;
  background-color: rgb(47, 79, 79);
  height: 65px;
  color: #f2f2f2;
}

.heading-bar-title {
  flex: 1;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: bold;
  padding-left: 200px;
  padding-right: 10px;
}

.heading-bar-signout {
  text-align: right;
  padding-right: 10px;
}

.signout-button {
  background-color: #ff6347;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 4px;
}

.main-div {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.left-div {
  width: 20%;
  height: 100%;
  background-color: #f2f2f2;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
}

.right-div {
  width: 70%;
  height: 100%;
  background-color: #f2f2f2;

  margin-left: 15px;
  margin-top: 5px;
}

.button-style {
  background-color: rgb(47, 79, 79);
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 1px;
  cursor: pointer;
  border-radius: 4px;
  width: 100%;
}
